# Jekyll build output
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Temporary files
*.log
*.tmp
*.swp
*.bak

# OS-specific files
.DS_Store
Thumbs.db

# Node modules (if applicable)
node_modules/
